<form>

<p>
<label for="tgtModelFileIn">Target Model:</label><br/>
<input type="file" accept=".mdl" id="tgtModelFileIn"/>
</p>

<p>
<label for="traceFileIn">Trace:</label><br/>
<input accept=".nbt" type="file" id="traceFileIn"/>
</p>

{% if page.tags contains 'vis' %}
<p>
<label for="stepsPerFrame">Steps per Frame:</label><br/>
<select id="stepsPerFrame">
<option value="-60">1/60</option>
<option value="-30">1/30</option>
<option selected value="1">1</option>
<option value="10">10</option>
<option value="50">50</option>
<option value="100">100</option>
<option value="500">500</option>
<option value="1000">1000</option>
</select>
</p>
{% else %}
<p>
<label for="stepsPerFrame">Steps per Refresh:</label><br/>
<select id="stepsPerFrame">
<option value="-60">1/60</option>
<option value="-30">1/30</option>
<option value="1">1</option>
<option value="100">100</option>
<option value="500">500</option>
<option value="1000">1000</option>
<option selected value="2000">2000</option>
<option value="3000">3000</option>
<option value="4000">4000</option>
</select>
</p>
{% endif %}

<p>
<input type='button' id='execTrace' value='Execute Trace' disabled/>
</p>

</form>
